.client-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1023px) {
    width: 85%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.client-data input {
  width: 100%;
  border: 1px solid $grey-input-border;
  border-radius: 5px;
  padding: 15px 36px;

  @include opensans-regular;

  &:hover {
    border: 1px solid $black-input;
  }

  &:focus {
    border: 1px solid $green;
  }
}

.client-data p {
  display: block;
  margin: 0 0 22px;
  padding: 0;
  font-size: 17px;
  line-height: 28px;
  color: $white;
  width: 110%;

  @include opensans-semibold;
  text-align: center;
  transform: translate(5px, 12px);

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 28px;
    color: $black;
    align-self: center;
  }

  @media (max-width: 767px) {
    margin-bottom: 17px;
  }
}

.client-data ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: translate(4px, 7px);

  @media (max-width: 1023px) {
    width: 63%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.client-data li {
  margin-bottom: 22px;

  @media (max-width: 1023px) {
    margin-bottom: 19px;
  }
}

.client-data__submit-button {
  display: block;
  margin: 0;
  padding: 15px 5px;
  cursor: pointer;
  width: 100%;
  transform: translate(4px, 3px);

  @media (max-width: 1023px) {
    width: 63%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
