.goods-types {
  background-color: $grey-bg;
  padding: 144px 0 148px;

  @media (max-width: 1023px) {
    overflow: hidden;
    padding: 36px 0 65px;
  }

  @media (max-width: 767px) {
    padding: 45px 0 56px;
  }
}

.goods-types__wrapper {
  width: 100%;
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1023px) {
    width: 100vw;
    padding: 0 9%;
  }

  @media (max-width: 767px) {
    padding: 0 7%;
  }
}

.goods-types__wrapper h2 {
  display: block;
  font-size: 30px;
  line-height: 30px;
  color: $black-title;

  @include opensans-semibold;
  text-align: center;
  margin: 0 0 55px;
  padding: 0;
  transform: translate(33px, 5px);

  @media (max-width: 1023px) {
    font-size: 24px;
    line-height: 41px;
    margin: 0 0 32px;
    transform: translate(-14px, 5px);
  }

  @media (max-width: 767px) {
    margin: 0 0 34px;
    transform: translate(-9px, 5px);
  }
}

.goods-types__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 44px;
  column-gap: 53px;
  transform: translate(31px, 4px);

  @media (max-width: 1023px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translate(-18px, 1px);
  }

  @media (max-width: 767px) {
    gap: 36px;
    transform: translate(-10px, 1px);
  }
}

.goods-types__wrapper img {
  margin: 0 0 20px;
  background-color: $grey-dark-text-modal;

  @media (max-width: 1023px) {
    width: 270px;
    height: 300px;
  }
}

.goods-types__wrapper p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  color: $black;
  transform: translate(7px, -1px);

  @include opensans-semibold;
  display: block;
  text-align: center;
}

.goods-types__item {
  max-width: 342px;
  text-align: center;
}

.goods-types__item--city {
  position: relative;
  z-index: 1;
}

.goods-types__item--city::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  top: 160px;
  left: -65px;
  background-color: transparent;
  border: 27px solid $mint;
  border-radius: 50%;
  z-index: -1;

  @media (max-width: 1023px) {
    width: 127px;
    height: 127px;
    border: 18px solid $mint;
    top: 201px;
    left: -38px;
  }

  @media (max-width: 767px) {
    top: 200px;
    left: -29px;
  }
}

.goods-types__item--mount {
  padding: 35px 0 0;
  position: relative;

  @media (max-width: 1023px) {
    padding: 0;
  }
}

.goods-types__item--mount::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -19px;
  width: 47px;
  height: 47px;
  background-color: transparent;
  border: 8px solid $mint;
  z-index: 2;

  @media (max-width: 1023px) {
    display: none;
  }
}

.goods-types__item--mount::after {
  content: "";
  position: absolute;
  bottom: 36px;
  right: -22px;
  width: 47px;
  height: 47px;
  background-color: transparent;
  border: 8px solid $mint;
  z-index: 2;

  @media (max-width: 1023px) {
    display: none;
  }
}

.goods-types__item--kid {
  position: relative;
}

.goods-types__item--kid::before {
  content: "";
  position: absolute;
  top: -34px;
  right: -33px;
  width: 95px;
  height: 95px;
  background-color: transparent;
  border: 17px solid $mint;
  border-radius: 50%;
  z-index: 2;

  @media (max-width: 1023px) {
    width: 68px;
    height: 68px;
    border: 13px solid $mint;
    top: -22px;
    right: -23px;
  }
}
