.location {
  margin: 0 0 25px;

  @media (max-width: 1023px) {
    margin: 0 0 19px;
  }

  @media (max-width: 767px) {
    margin: 0 0 26px;
  }
}

.location__wrapper {
  width: 100%;
  padding: 0 17%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1023px) {
    padding: 0 4%;
  }

  @media (max-width: 767px) {
    position: relative;
    padding: 0;
  }
}

.location__wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  color: $black-title;
  margin: 0 0 30px;
  padding: 0;
  transform: translate(6px, 1px);

  @include opensans-semibold;
  display: block;

  @media (max-width: 1023px) {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 22px;
    transform: translate(-4px, 2px);
  }

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.location__wrapper p {
  font-size: 17px;
  line-height: 31px;
  color: $black;
  opacity: 0.7;
  transform: translate(6px, 1px);

  @include opensans-regular;
  margin: 0 0 42px;
  padding: 0;
  display: block;
  text-align: center;
  max-width: 58%;

  @media (max-width: 1023px) {
    margin: 0 0 22px;
    max-width: 100%;
    transform: translate(-4px, 2px);
  }

  @media (max-width: 767px) {
    margin: 0 0 278px;
    padding: 0 10%;
  }
}

.location__wrapper iframe {
  background-color: $grey-bg-map;
  width: 100%;
  height: 530px;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (max-width: 767px) {
    max-height: 250px;
  }
}
