.page-footer {
  margin-bottom: 30px;
  flex-shrink: 0;
}

.page-footer__wrapper {
  width: 100%;
  padding: 0 26%;

  @media (max-width: 1023px) {
    padding: 0 5%;
  }
}

.page-footer__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__wrapper a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.page-footer__wrapper li:not(:last-child) {
  margin-bottom: 15px;
  padding-left: 70px;

  @media (max-width: 1023px) {
    padding-left: 47px;
  }
}

.page-footer__wrapper a:hover {
  .page-footer__details {
    color: $mint-total-dark;
    opacity: 1;
  }

  .page-footer__icon {
    fill: $mint-total-dark;
    stroke: $mint-total-dark;

    &--phone {
      fill: none;
    }
  }
}

.page-footer__wrapper a:active {
  .page-footer__details {
    color: $mint-dark;
  }

  .page-footer__icon {
    fill: $mint-dark;
    stroke: $mint-dark;

    &--phone {
      fill: none;
    }
  }
}

.page-footer__details {
  display: block;
  color: $black;
  opacity: 0.5;

  @include opensans-regular;
  font-size: 16px;
  line-height: 22px;

  &--email {
    margin-left: 15px;
  }

  &--phone {
    margin-left: 13px;
  }
}

.page-footer__icon {
  opacity: 1;

  &--email {
    stroke: $mint;
    fill: $mint;
    stroke-width: 0;
  }

  &--phone {
    fill: none;
    stroke: $mint;
    stroke-width: 2px;
  }
}
