.page-footer {
  margin-bottom: 30px;
  flex-shrink: 0;
}

.page-footer__wrapper {
  width: 100%;
  padding: 0 28%;

  @media (max-width: 1023px) {
    padding: 0 2%;
  }
}

.page-footer__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translate(-11px, 0);

  @media (max-width: 1023px) {
    justify-content: space-evenly;
    transform: translate(-5px, 0);
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translate(0, -3px);
  }
}

.page-footer__wrapper a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.page-footer__wrapper li:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 15px;

  @media (max-width: 1023px) {
    margin: 0;
    padding: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.page-footer__wrapper li:last-child {
  @media (max-width: 767px) {
    transform: translateX(-5px);
  }
}

.page-footer__wrapper a:hover {
  .page-footer__details {
    color: $mint-total-dark;
    opacity: 1;
  }

  .page-footer__icon {
    fill: $mint-total-dark;
    stroke: $mint-total-dark;

    &--phone {
      fill: none;
    }
  }
}

.page-footer__wrapper a:active {
  .page-footer__details {
    color: $mint-dark;
  }

  .page-footer__icon {
    fill: $mint-dark;
    stroke: $mint-dark;

    &--phone {
      fill: none;
    }
  }
}

.page-footer__details {
  display: block;
  color: $black;
  opacity: 0.5;

  @include opensans-regular;
  font-size: 16px;
  line-height: 22px;

  &--email {
    margin-left: 15px;
  }

  &--phone {
    margin-left: 13px;
  }
}

.page-footer__icon {
  opacity: 1;

  &--email {
    stroke: $mint;
    fill: $mint;
    stroke-width: 0;
  }

  &--phone {
    fill: none;
    stroke: $mint;
    stroke-width: 2px;
  }
}
