.page-header {
  position: relative;
}

.page-header img {
  position: absolute;
  top: 0;
  z-index: -3;
  width: 100%;
  max-height: 825px;
  background-color: $black-input;

  @media (max-width: 1023px) {
    max-height: 340px;
  }

  @media (max-width: 1023px) {
    max-height: 390px;
  }
}

.page-header__wrapper {
  width: 100%;
  padding: 2% 19%;
  margin: 0;

  @media (max-width: 1023px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0;
  }
}

.page-header__logo {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    cursor: pointer;
    fill: $mint;
    padding: 2% 2% 0 2%;
  }

  &:hover {
    fill: $mint-dark;
  }

  &:active {
    fill: $mint-total-dark;
  }
}
