// Colors

$white: #ffffff;
$black-input: #1c1c1c;
$black-title: #1f1f1f;
$black-btn-play: #070707;
$black-btn-forward: rgba(44, 46, 63, 0.5);
$black: #000000;
$black-pale: rgba(0, 0, 0, 0.3);
$grey-input-border: #c9ccd4;
$grey-bg: #f6f7f9;
$grey-bg-modal: #f6f6f6;
$grey-bg-map: #d0d0d0;
$grey-dark-bg: #131314;
$grey-dark-text-modal: #48494d;
$mint: #0ad9c6;
$mint-pale: rgba(10, 217, 198, 0.3);
$mint-dark: #08ae9e;
$mint-total-dark: #218b7f;
$close-button: rgba(20, 21, 23, 0.2);
$red: #ff2400;
$green: #008000;
