// Colors

$white: #FFFFFF;
$black-input: #1C1C1C;
$black-title: #1F1F1F;
$black-btn-play: #070707;
$black: #000000;
$grey-input-border: #C9CCD4;
$grey-bg: #F6F7F9;
$grey-bg-modal: #F6F6F6;
$grey-dark-bg: #131314;
$grey-dark-text-modal: #48494D;
$mint: #0AD9C6;
